$back-color: #F0F0F0;
$green-border: #72B372;

@mixin linear-gradient($top, $bottom) {
	background: $top;
	background: -webkit-linear-gradient($top, $bottom);
	background: -moz-linear-gradient($top, $bottom);
	background: -o-linear-gradient($top, $bottom);
	background: linear-gradient($top, $bottom);
}

.main>div {
	display: inline-block;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	background-color: white;
}

.register {
	opacity: 1!important;
	width: 400px;
	height: 400px;
	margin: 10px auto;
	border-radius: 10px;
	padding: 10px;
	border-radius: 25px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: white;
	box-shadow: 0 0 20px 0 #000000;

	h3 {
		margin: 10px 15px 20px;
		padding: 5px 10px 5px 0;
		font-size: 1.1em;
		margin-bottom: 0rem;
		//border-bottom: 2px solid $green-border;
	}

	div {
		margin: 0 0 15px 0;
		border: none;
		text-align: center;
		margin-top: 1rem;
	}

	label {
		display: inline-block;
		width: 50%;
		font-size: small;
		text-align: left;
		padding-right: 3%;
		margin: 10px;
	}

	input[type=text],
	input[type=password] {
		width: 50%;
		font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
		padding: 4px;
		font-size: 0.9em;
		border-radius: 10px;
		border-color: 1px solid rgba(26, 132, 143, 0.13);
		background: white;
		box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	input[type=text]:focus {
		background: rgb(193, 222, 231);
	}

	.button {
		font-size: small;
		font-weight: 200;
		border-radius: 13px;
		color: #000000;
		width: 80px;
		padding: 7px;
		float: left;
		margin-right: 0.7rem;
		margin-left: 0.5rem;
		margin-top: 1.2rem;
		border: 1px solid rgb(185, 217, 228);
		box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
		@include linear-gradient(#96d0d4, #94d7db);

	}
}